@font-face {
  font-family: 'Burger Queen';
  src: url("./img-documents/Making-Lettering-Tall_demo.ttf");
}

html {
  height: 100%;
  width: 100%;
  touch-action: auto;
}

body {
  height: 100%;
  width: 100%;
  background-color: grey;
}

